@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size:18px;
    font-family: "Noto Sans", sans-serif;
    background:#eee;
}
a{
    text-decoration:none;
}
ul li{
    list-style: none;
}
/* Navigation */
.Navigation{
    width:100%;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* menu */
.menu{
    display: flex;
    align-items: center;
    color:#fff;
    height:50px;
    width:90%;
    margin: auto;
}
/* menu-left */
.menu-left{
    width:30%;
    padding:0 5px;
    height:100%;
}
.menu-left ul{
    height:100%;
    display: flex;
    align-items:center;
    gap:5px;
    font-weight:500;
    text-transform:uppercase;
}
.menu-left ul li {
    display: flex;
    align-items: center;
    height:100%;
    padding:0 10px;
}
.menu-left ul li a{
    color:black;
}
.menu-left ul li:hover{
    background:#9c9292;
    cursor: pointer;
}
/* .menu-center */
.menu-center{
    width:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-center img{
    width:130px;
}
/* .menu-rihgt */
.menu-rihgt{
    display: flex;
    justify-content: end;
    width:45%;
    /* background-color:#eee; */
    height:100%;
   
}
.menu-rihgt ul{
    display: flex;
    height:100%;
    align-items: center;
    gap:5px;
}
.menu-rihgt ul li{
    display: flex;
    align-items: center;
    text-transform:uppercase;
    height:100%;
    padding: 0 20px;

}
.text-search:first-child{
    height:90%;
    padding:10px 0;
}
.text-search{
    display: flex;
    height:100%;
    border: 1px solid gray;
    border-radius:5px;
    overflow: hidden;
}
.fa-solid{
    color: black;
}
.text-search input{
    height:100%;
    border: none;
    background:#eee;

}
.text-search input:focus{
    outline: none;
}
.text-search span{
    display:flex;
    align-items: center;
    padding:0 8px;
}
.menu-rihgt ul li a{
    color: black;
    font-weight:500;
}
.menu-rihgt ul li:hover:not(:first-child){
     background:#9c9292;
}


/* slide */

.slide{
    width:90%;
    height:600px;
    margin: auto;
    background-color: red;
}

/* item-slide */
.item-slide{
    width:100%;
    position: relative;
    height:100%;
}
.btn{
    position: absolute;
    bottom:10%;
    left:40%;
    display: flex;
    gap:40px;
}
.btn button{
    padding:10px 15px;
    border-radius: 5px;
    border:3px solid rgb(238, 233, 233);
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size:18px;
    color:#ffff;
    box-shadow: rgba(198, 203, 206, 0.881) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    outline: none;
}
/* .btn button:hover{
    background-image:repeating-linear-gradient(45deg, #1023a0, #0b0b0b 10px, #c7252d 10px, #92278b 20px);
    cursor: pointer;
   
   
} */